main{
    margin: 3%;
    
}
img{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
article{
    border: 2px solid #000;  
    flex-basis: 600px;
}
section{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin:  0 auto 0;
}
footer{
    text-align: center;
}
hr{
margin-top: 4%;
margin-bottom: 4%;
}
.tekst{
    margin: 2%;
}
